body {
    font-family: 'Roboto', sans-serif;
    color: #17372E;
    background: #fff
}

:root {
    --color-txt: #17372E;
    --background-header: #FFF8EC;
    --color-red-txt: #F94E41;
    --color-text-btn: #ffffff;
    --not-activ-btn: #FFD8D7;
    --project-works-color: #6F712F;
    --backgroud-blog: #790808;
    --box-cl: #ffffff
}

.link {
    text-decoration: none;

}

.list {
    list-style: none;
}

/**
  |============================
  | hover
  |============================
*/

/* header-hover */

.itaem-text:hover {
    color: var(--color-red-txt);
}

.header-btn:hover {
    color: var(--color-red-txt);
    background-color: var(--not-activ-btn);
}

.paties-btn-active:hover {
    color: var(--color-red-txt);
    background-color: var(--not-activ-btn);
}

.paties-btn-inectiv:hover {
    color: var(--not-activ-btn);
    background-color: var(--color-red-txt);
}

/* blog  */
.blog-btn:hover {
    background-color: var(--not-activ-btn);

}

/* Talk of the town */

.btn-talk:hover {
    background-color: var(--color-red-txt);

}

/* price */

.btn-magazin:hover {
    background-color: #FFD8D7;
    color: var(--color-txt)
}



.btn-friends:hover {
    color: var(--not-activ-btn);
    background-color: var(--color-red-txt);
}



/**
  |============================
  | Header 
  |============================
*/

.header-hero {
    background-color: var(--background-header);
}

.header-iteam {}

.itaem-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--color-txt);
}

.header-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    letter-spacing: 1.152px;
    text-transform: uppercase;
    color: var(--color-text-btn);
    background: var(--color-red-txt);

}

/**
  |============================
  | Main
  |============================
*/
.main-hero {}

/**
  |============================
  | section:parties
  |============================
*/

.section-paties {}

.title-paties {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 1;
    color: var(--color-txt);
}

.paragraph-paties {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-txt);
}

.paragraph-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.48px;
    color: var(--color-txt);
}


/* button */
.paragraph-list {}

.paties-btn-active {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: var(--color-text-btn);
    background-color: var(--color-red-txt);
}

.paties-btn-inectiv {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: var(--color-red-txt);
    background-color: var(--not-activ-btn);

}

/**
  |============================
  | section:works
  |============================
*/
.section-works {
    background-color: #ffffff;

}

.works-paragraph {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    color: var(--color-txt);
}

.title-works {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.17;
    color: var(--color-txt)
}

.project-works {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.2;
    color: var(--project-works-color);

}

.paragraph-list {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #17372E;
}


/**
  |============================
  | Blog
  |============================
*/
.section-blog {
    background-color: var(--backgroud-blog);
}

.title-blog {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
    color: var(--background-header);

}

.blog-btn {
    background-color: var(--color-red-txt);

}

.box-color {
    background-color: var(--box-cl);

}

.project-blog {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 38px;
    color: var(--color-txt);
}

.nav-iteam {
    color: var(--color-txt);

}

.paragraph-blog {}

.navigation {
    color: var(--color-txt);
}

/* Talk of the town  */
.lead {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    color: var(--background-header);
}

.lead-iteam {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.48px;
    color: var(--background-header);
}

.subtext {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--background-header);
}

.abovie-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    color: var(--not-activ-btn);
}

.btn-talk {
    background: var(--not-activ-btn);
}

.subject {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 1.4;
    color: var(--background-header);

}


/* price  */
.section-price {
    background-color: var(--background-header);
}

.titel-price {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 73px;
    line-height: 1.09;
    color: var(--color-txt);
}

.paragraph-price {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-txt);
}

.magazin-price-one {
    background-color: var(--color-text-btn);
}

.title-magazin {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.3;
    color: var(--color-txt);

}

.price-magazin-free {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.2;
    color: var(--color-txt);
}



.pargraph-magazin {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-txt);
}

.btn-magazin {
    background-color: var(--color-red-txt);
    color: var(--color-text-btn);
}

.magazin-price-two {
    background-color: var(--not-activ-btn);
}

.price-magazin {}

.magazin-list {

    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    color: var(--color-txt);
}

/* friends */
.section-friends {
    background-color: var(--color-text-btn);

}

.title-friends {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.1;
    color: var(--color-txt);

}

.paragraph-friends {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-txt);

}

.btn-friends {
    background-color: var(--not-activ-btn);
    color: var(--color-red-txt);
}